@import 'mini-reset';
@import 'bootstrap-theme.min';
@import 'bootstrap';

html {
    position: relative;

    min-height: 100%;

    cursor: default;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    body {
        margin: 0 0 60px;
        background: url(../images/bgimg.png);
        background-color: #eeF;

        a {
            text-decoration: none;
            
            color: #55a;

            &:hover {
                text-decoration: underline;
            }
        }
    }
        
    .navbar-default {
        background-image: linear-gradient(to bottom, #fff 0, #aae 100%);
        li > .active {
            color: #fff;
            background-image: linear-gradient(to bottom, #aaf 0, #55a 100%);

            &:hover {
                color: #d6d6d6;
                background-image: linear-gradient(to bottom, #77e 0, #55a 100%);
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 0;

        width: 100%;
        height: 40px;
        margin-top: 20px;

        background-image: linear-gradient(to top, #eef 0, #aac 100%);

        p {
            height: 40px;
            margin: 0;

            text-align: center;

            font-size: 15px;
            line-height: 40px;
        }
    }

    .response {
        position: fixed;
        z-index: 9999;
        top: 15%;
        right: 0;
        left: 0;

        display: none;

        max-width: 50%;
        min-height: 200px;
        max-height: 70%;
        margin: 0 auto;
        padding: 15px 30px 60px;

        color: #000;
        border-radius: 5px;
        background: #eef;
        box-shadow: 0 5px 23px -7px rgba(163, 185, 197, .77);

        .accept-response {
            cursor: pointer;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;

            width: 300px;
            margin: 5px auto;
            padding: 10px;

            text-align: center;

            border-radius: 5px;
            background-color: #aac;
        }
    }

    .blur {
        position: fixed;
        z-index: 9998;
        top: 0;
        right: 0;
        left: 0;

        display: none;

        width: 100%;
        height: 100%;

        background: rgba(69, 77, 91, 0.6);
    }

    .center-screen {
        display: flex;

        height: 95vh;

        align-items: center;
    }

    .hidden {
        display: none;
    }

    .user_dropdown {
        position: absolute;
        z-index: 9999;
        top: 60px;
        right: 20px;

        display: none;

        padding: 10px;

        border: solid black 1px;
        background: #fff;

        a,
        input[type="submit"] {
            padding: 0;

            color: #141414;
            border: none;
            background: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .user_dropdown_toggle {
        padding: 10px;

        > img {
            width: 50px;
            height: 50px;
            margin: 0 5px;
        }
    }
}

div.exam_ranking_circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 1px;
    text-align: center;
    border: 2px solid black;
    border-radius: 50%;
    line-height: 45px;
}

span.exam_ranking_number {
    display: inline-block;

    vertical-align: middle;

    line-height: normal;
}

.p_rank {
    padding: 30px;

    text-align: center;

    font-size: 32px;
}

.kurs {
    margin-right: 50px;
    margin-bottom: 100px;
    margin-left: 50px;

    text-align: center;

    .kurs_inner {
        margin-right: 50px;
        margin-bottom: 100px;
        margin-left: 50px;
    }
}
b.pdk {
    font-size: 28px;
}

.kurs_content{
    font-size: 18px;
}

.or_a {
    margin: 0 30px;
}

.frame_kurs1, .frame_kurs2, .frame_kurs3, .frame_kurs4, .frame_kurs5{
    margin-bottom: 30px;
    width: 100%;
    height: 200px;
    border: 4px solid;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;    
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: #669;

    .name_kurs{
        font-size: 36px;     
    }
}

.frame_kurs1{
    background: url("../images/tlo1.png");
    background-repeat: no-repeat;
    background-position: center; 
}
.frame_kurs2{
    background: url("../images/tlo2.png");
    background-repeat: no-repeat;
    background-position: center;
}
.frame_kurs3{
    background: url("../images/tlo3.png");
    background-repeat: no-repeat;
    background-position: center; 
}
.frame_kurs4{
    background: url("../images/tlo4.png");
    background-repeat: no-repeat;
    background-position: center; 
}
.frame_kurs5{
    background: url("../images/tlo5.png");
    background-repeat: no-repeat;
    background-position: center; 
}


.egzamin_form{
    border: 2px solid black;
    background: url(../images/bgegz.png);
  
  .question {
      padding: 40px;
      text-align: center;
      font-size: 24px;
      
  }

    p.question{
        height: 130px;
        padding: 10px;
        text-align: center;
    }

  .option {
    text-align: left;
    font-size: 18px;
    padding: 10px 0;
  }

    label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-left: 15px;
    font-weight: normal;
    }

}

.jumbotron{
    background-color: #dfdfea;
}